<% content_for :css do %>
    <%= stylesheet_link_tag 'styles',:media => "all" %>
  <% end %>
<!DOCTYPE html>
<html>
    <head>
        
        <meta charset="utf-8">
        <title>Q-Quickにようこそ！</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    </head>
    <body>
        <header id="index_header">
            <a href="index.html"> <img src="xdVNvE8ypOnKNMW1670732028_1670732060.png" class="index_img"></a>
            <div class="title_text">
            <h1>Q-Quickにようこそ！</h1>
            </div> 

            <div class="scrolldown4"><span>tap</span></div>
            

        </header>

        

        <main id="index_main">
            <div class="login">
            <a href="login.html" class="login_start">ログインしてはじめる</a>
            </div>

            
        </main> 
        <footer>
        
        </footer>
      
    </body>
</html>